# DATABASE (PostgreSQL)
# DATABASE_URL="postgresql://USUARIO:CONTRASEÑA@db:5432/edatia_erp?schema=public"
DATABASE_URL="postgresql://admin:edatia_secret_2026@db:5432/edatia_erp?schema=public"

# AUTHentication
JWT_SECRET="edatia_super_secret_jwt_key_2026_ERP_SAAS"
JWT_EXPIRES_IN="1d"

# SERVER Config
PORT=4000
NODE_ENV=production
