:80 {
    root * /srv
    encode gzip

    # Bloque exclusivo para la API
    handle /api/* {
        reverse_proxy api:4000
    }

    # Bloque para la aplicación estática (SPA)
    handle {
        try_files {path} /index.html
        file_server
    }
}
